### File Handling:
1. create
2. write
3. reading
4. appending
5. renaming
6. removing

In [1]:
# Rename a file
import os
os.rename("sample.txt","demo.txt")

In [2]:
# Remove a file
os.remove("demo.txt")

### Question 5:
1. Create a folder
2. Goto that folder and create 5 no.of files
3. All the names should be unique
4. Add some content into the file and the content in all the files should be unique
5. File size should be 512bits

In [ ]:
import os
os.mkdir("python")#creating a folder
for i in range(5):#for creating 5 files
    file_name = " "#creating a file name
    f = open("c://python//file name","w")#creates a file with the given name
    for i in range(512):#adding content
        f.write("character")

### Tuple:
1. Immutable(changes are not allowed)
2. using ( ) elements are separated by ,
3. Indexed,Ordered

In [3]:
#Tuple 
tup1 = (12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [5]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [12]:
l = list(tup1)
l[2] = 100
tup1 = tuple(l)
tup1

(12, 3, 100, 'abc', True)

### Built-in Methods:
1. count()
2. index()

In [13]:
print(tup1.count(12))
print(tup1.index(12))

1
0

### Packing and Unpacking

In [15]:
#unpacking
tup2 = (12,232,4,354)
a,b,c,d = tup2
print(d)

354

In [17]:
#packing
x = 10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [19]:
#Tuple with single element
y = (10,)
print(type(y))

<class 'tuple'>

In [22]:
#Iterating through tuple
for ele in x:
    print(ele,end=" ")

10 20 30

### Set:
1. { }
2. Does not allow duplicate values
3. Not ordered
4. Unindexed
5. Mutable

In [23]:
set1 = {1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [24]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

### Built-in functions:
1. len()
2. min()
3. max()
4. set()

In [27]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [28]:
#Removing duplicates from the list
list1 = {1,2,3,4,5,1,2,3}
list1 = set(list1)
list1

{1, 2, 3, 4, 5}

### Built-in Methods:

#### Adding an element
1. add()

#### Removing an element
2. pop()
3. remove()
4. discard()
5. clear()

In [30]:
set2 = set()
print(type(set2))

<class 'set'>

In [32]:
#Adding an element
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [33]:
set2.pop()

100

In [34]:
set2.remove(12)

In [35]:
set2

{23}

In [36]:
set2.discard(12)

In [37]:
set2.clear()
set2

set()

In [40]:
#union,difference(A-B or B-A),#intersection
A = {1,2,3,4,5}
B = {3,4,5,6,7}
#union A U B ==> {1,2,3,4,5,6,7}
print(A.union(B))
#A - B ==> {1,2}
#B - A ==> {6,7}
print(A.difference(B))#A-B
print(B.difference(A))#B-A
#intersection A and B ==> {3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [42]:
#subset,super set
C = {1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))#True
print(A.issubset(B))#False
print(C.issuperset(A))#True
print(C.issuperset(B))#True

True
False
True
True

In [43]:
#disjoint
X = {1,2}
Y = {23,34,45}
print(A.isdisjoint(B))#False
print(X.isdisjoint(Y))#True

False
True

In [45]:
#Symmetric difference ==> (A-B U B-A)
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [46]:
A.update(B)#A = A union B
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [47]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [48]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [49]:
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

In [50]:
A = {1,2,3}
B = {2,3,4}
print(A.difference(B))#A-B
print(B.difference(A))#B-A
print(A.symmetric_difference(B))#A-B union B-A
print(A)
print(B)
A.symmetric_difference_update(B)
print(A)
print(B)

{1}
{4}
{1, 4}
{1, 2, 3}
{2, 3, 4}
{1, 4}
{2, 3, 4}

### Dictionary:

```dictionary name = {key1:value1,key2:key2,.......}```

#### Rules for key :
1. keys should be unique
2. keys should be immutable (example:numeric,string,tuple )

In [53]:
#creating a dictionary
dict1 = {"name":"bharadwaj","emp id":1234,"address":"hyd"}
print(dict1)

{'name': 'bharadwaj', 'emp id': 1234, 'address': 'hyd'}

In [56]:
#Extracting an element
print(dict1["emp id"])

1234

In [57]:
#Removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'bharadwaj', 'emp id': 1234}

In [58]:
#Adding an entry
dict1["course"] = "python"
print(dict1)

{'name': 'bharadwaj', 'emp id': 1234, 'course': 'python'}

### Built-in methods:
1. keys()
2. values
3. items()
4. get()
5. update()
6. pop()
7. popitem()

In [62]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'emp id', 'course'])
dict_values(['bharadwaj', 1234, 'python'])
dict_items([('name', 'bharadwaj'), ('emp id', 1234), ('course', 'python')])

In [64]:
#Extracting an element
print(dict1["name"])
print(dict1.get("name"))

bharadwaj
bharadwaj

In [65]:
#Adding an entry
dict1["address"] = "hyd"
dict1

{'name': 'bharadwaj', 'emp id': 1234, 'course': 'python', 'address': 'hyd'}

In [66]:
d = {1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'bharadwaj', 'emp id': 1234, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [67]:
#Removing an entry ==> pop(),popitem()
dict1.pop("name")
dict1

{'emp id': 1234, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [71]:
dict1.popitem()

('address', 'hyd')

In [72]:
dict1

{'emp id': 1234, 'course': 'python'}